
.App {
  text-align: left;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  color: #e1003c;
}

.App-header {
  background-color: white;
  padding: 20px;
  border-bottom: 3px solid #e1003c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.App-header img {
  max-height: 100px;
  margin-right: 20px;
}

h1 {
  font-size: 24px;
  margin: 0;
}


img {
  height: auto;
  max-width: 100%;
}

.App-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.App-body p {
  color: #000000;
}


.App-footer {
  text-align: center;
  background-color: white;
  color: #000000;
  padding: 10px;
  border-top: 3px solid #e1003c;
}